<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <!--
    In the example below, the "SetAttributes" transform will change the value of
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator
    finds an attribute "name" that has a value of "MyDB".-->

    <!-- 
    <connectionStrings>
  
        <add name="MyDB"
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>

    </connectionStrings>
    -->
      
  <appSettings>
    <add key="webpages:Vesion" value="3.0.0.0" />
    <!-- Move to AppSettingsSecret.config and add file attribute to appsettings with path to secret file-->
    <add key="SMSAccountIdentification" value="AC7ab8925ee82788bec8b0f130cd5baa31" />
    <add key="SMSAccountPassword" value="7862f1f867be63ddfbc67ad01c0c2fc9" />
    <add key="SMSAccountFrom" value="+61429525658" />
    <add key="mailAccount" value="sam.heard@outlook.com"/>
    <add key="mailPassword" value="s7c11r26&amp;a21" />
  </appSettings>
  
  <system.web>
    <!--
      In the example below, the "Replace" transform will replace the entire
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the
      <system.web> node, there is no need to use the "xdt:Locator" attribute.

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>
