@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <a href="http://ntgpe.org">NT General Practice Education</a><br />
    Charles Darwin University<br />
    Casuarina, NT 0811<br />
    <abbr title="Phone">P:</abbr>
    08 8946 7079
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@ntgpe.org">Support@NTGPE.org</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@ntgpe.org">Marketing@NTGPE.org</a>
</address>