@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>SSN</h1>
    <p class="lead">Supervisor Safety Net: Supervisors providing online support site to general practice registrars.</p>
    <p><a href="http://ntgpe.org" class="btn btn-primary btn-lg">Call Centre &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            If you have not used the application before then please see the introductory tutorial.
        </p>
        <p><a class="btn btn-default" href="http://ntgpe.org">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Rosters</h2>
        <p>See and commit to oncall sessions</p>
        <p><a class="btn btn-default" href="http://ntgpe.org">View &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Full Documentation</h2>
        <p>Read how to use SSN as a supervisor or administrator</p>
        <p><a class="btn btn-default" href="http://ntgpe.org">View &raquo;</a></p>
    </div>
</div>